img {
    width: 640px; 
    height: 640px;
    position: absolute;
    left: 0;
    top: 30px;
    z-index: 1;
}

canvas {
    /* width: 640px; 
    height: 640px; */
    position: absolute;
    left: 0;
    top: 30px;
    z-index: 2;
}